.header-top__number {
    position: absolute;
    * {
        visibility: hidden;
    }
    svg, svg > * {visibility: hidden; position: absolute;}
}
@media (min-width: 768px) {
    .header-top__number {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p, h3 {
            position: static;
            visibility: visible;
        }
    }
}
@media (min-width: 1280px) {
    .header-top__number {
        position: static;
        p {visibility: hidden;position: absolute;}
        svg {position:static; margin-right: 15px;}
        * {
            position: static;
            visibility: visible;
            align-self: center;
        }
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}