.footer-menu__social {
    display: flex;
    // max-width: 180px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 45px;
    // margin-right: ;
}

@media (min-width: 768px) {
    
    .footer-menu__social {
        flex-direction: column;
        svg {
        
        }
    }
}