.footer-menu__rectangle {
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 2;
    margin-bottom: 87px;
}
@media (min-width: 768px) {
    .footer-menu__rectangle {
        visibility: hidden;
    }
}