.footer-menu__copyrights {
    color: #80888A;
    display: flex;
    align-items:center;
    flex-direction: column;
    text-align: center;
    * {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .footer-menu__copyrights {
        flex-direction: column-reverse;
        align-items: start;
        text-align:start;
    }
}